// base
html, body {
	height: 100%;
	font-family: $sans-serif;
	font-weight: $fontNormal;
	color: #000;
	font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serif;
    font-style: normal;
    color: $body-gray-color;
}

h2 {
	font-size: 20px;
	font-weight: 600;
}

.page-wrap {
	min-height: 100%;
	margin: 0 auto;
	margin-bottom: -$footer-height;
}

footer, .push {
	height: $footer-height;
}

footer {
	background: #000;
	color: #fff;
	font-size: 14px;
}

#nav-bar {
	width:100%;
	height:70px;
	background: #fff;
	border-bottom: 1px solid #efefef; //temporary
	overflow: hidden;

	.nav {
		@include wrap();

		.brand {
			float:left;
			padding: 12px $body-padding; //try to do some real vertical centering later
			display: inline-block;

			* { display:block; }

			.title {
				font-weight:600;
			}
			.sub-title {

			}
		}

		ul {
			display: inline-block;
			vertical-align: middle;
			float:right;
			margin: 15px 0;

			li {
				display:inline;
				padding: 0 15px;

				a {
					color: $body-gray-color;
					text-decoration: none;
					display: inline-block;
					padding: 10px 0;
					border-top: 3px solid $light-gray-color;
					font-size: 15px;
					@include transition();

					&:hover {
						border-color: $body-gray-color;
						color: #000;
					}

					&.active {
						border-color: $accent-color;

						&:hover { border-color: $accent-color; }
					}
				}
			}
		}
	}
}

// general layout stuff
.page, .wrap {
	@include wrap();
}

.page {
	padding-bottom: 75px;
}

.content {
	padding: $body-padding;
	margin:0 auto;
	width:auto;
}

// copy styles
p {
	line-height: 1.5em !important;
	color: $body-gray-color !important;
}

//slider
.slick-slider {
	margin-top:0px;

	.slick-next, .slick-prev {
		background: rgba(0,0,0,0.25);
		color: #fff;
		font-size: 15px;
		height: 70px;
		width: 40px;
		@include transition();

		&:hover {
			background: rgba(0,0,0,0.5);
		}

		&:before {
			display:none;
		}
	}

	.slick-next {
		right: 25px;
	}
	.slick-prev {
		left: 25px;
	}

	.slick-slide {
		height:auto;

		img {
			border-top:none;
		}
	}

	.slick-dots {
		li {
			button:before {
				font-size: 15px;
			}
		}
	}
}