//colors
$light-gray-color: 	#efefef;
$body-gray-color: 	#3c3c3c;
$red-color: 		#D74139;

//fonts
$sans-serif:	'Source Sans Pro', sans-serif;
$fontThin:		200;
$fontLight:		300;
$fontNormal: 	400;
$fontBold:		700;
$fontBlack: 	900;

//transition
$bezier:			cubic-bezier(.43,.84,.79,.99);
$transition-time: 	0.2s;

//layout
$page-width: 	1000px;