<html>
	<head>

		<!-- meta data -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Steven L. Bernstein MD,PhD</title>
		
		<!-- fonts -->

		<!-- styles -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	</head>

	<body>
		<!-- react entry point -->
		<div id="app"></div>

		<!-- application scripts -->
		<script type="text/javascript" src="/static/js/bundle.js"></script>
	</body>
</html>
